<aside class="w-64 h-full bg-white border-r border-gray-200">

  <div class="p-6 border-b">
    <h2 class="text-2xl font-bold text-blue-600">
      ClaimSphere
    </h2>
  </div>

  <nav class="p-4 space-y-2">

    <a routerLink="/"
       class="block px-4 py-3 rounded-lg hover:bg-blue-50 hover:text-blue-600 transition">
      🏠 Dashboard
    </a>

    <a class="block px-4 py-3 rounded-lg hover:bg-blue-50">
      📄 Claims
    </a>

    <a class="block px-4 py-3 rounded-lg hover:bg-blue-50">
      👤 Customers
    </a>

    <a class="block px-4 py-3 rounded-lg hover:bg-blue-50">
      📃 Policies
    </a>

    <a class="block px-4 py-3 rounded-lg hover:bg-blue-50">
      💳 Payments
    </a>

    <a class="block px-4 py-3 rounded-lg hover:bg-blue-50">
      📊 Reports
    </a>

    <a class="block px-4 py-3 rounded-lg hover:bg-blue-50">
      ⚙ Settings
    </a>

  </nav>

</aside>