<div class="container">

  <div class="header">

    <div>

      <h2>Claim Management</h2>

      <p class="subtitle">
        Total Claims: {{ claims.length }}
      </p>

    </div>

    <button class="create-btn" (click)="goToCreateClaim()">

      + Create Claim

    </button>

  </div>

  @if (claims.length === 0) {

  <div class="empty-state">

    <h3>No Claims Found</h3>

    <p>Create your first insurance claim.</p>

    <button class="create-btn" (click)="goToCreateClaim()">

      Create Claim

    </button>

  </div>

  } @else {

  <div class="search-container">

    <input type="text" class="search-input" placeholder="🔍 Search by Claim #, Policy #, Customer, Type, City or Status"
      [formControl]="searchControl">

  </div>

  <div class="table-container">
    <table>

      <thead>

        <tr>

          <th>ID</th>

          <th>Claim #</th>

          <th>Customer</th>

          <th>Policy #</th>

          <th>Type</th>

          <th>City</th>

          <th>Status</th>

          <th>Amount</th>

          <th>Incident Date</th>

          <th>Actions</th>

        </tr>

      </thead>

      <tbody>

        @for (claim of claims; track claim.id) {

        <tr>

          <td>#{{ claim.id }}</td>

          <td>{{ claim.claimNumber }}</td>

          <td>

            <div class="customer-info">

              <strong>{{ claim.customerName }}</strong>

            </div>

          </td>

          <td>{{ claim.policyNumber }}</td>

          <td>

            <span class="type-chip">

              {{ claim.claimType }}

            </span>

          </td>

          <td>{{ claim.city }}</td>

          <td>

            <span class="status" [ngClass]="claim.status.toLowerCase()">

              {{ claim.status }}

            </span>

          </td>

          <td>

            ₹ {{ claim.amount | number }}

          </td>

          <td>

            {{ claim.incidentDate | date:'dd MMM yyyy' }}

          </td>

          <td class="action-column">

            <button class="view-btn" (click)="viewClaim(claim.id)">

              View

            </button>

            <button class="edit-btn" (click)="editClaim(claim.id)">

              Edit

            </button>

            <button class="delete-btn" (click)="deleteClaim(claim.id)">

              Delete

            </button>

          </td>

        </tr>

        }

      </tbody>

    </table>
  </div>

  }

</div>