<div class="recent-card">

    <div class="header">

        <h2>

            Recent Claims

        </h2>

        <a routerLink="/claims">

            View All

        </a>

    </div>

    <table>

        <thead>

        <tr>

            <th>Claim</th>

            <th>Status</th>

            <th>Amount</th>

            <th></th>

        </tr>

        </thead>

        <tbody>

        @for(claim of claims.slice(0,5); track claim.id){

            <tr>

                <td>{{claim.claimNumber}}</td>

                <td>{{claim.status}}</td>

                <td>₹ {{claim.amount}}</td>

                <td>

                    <button (click)="viewClaim(claim.id)">

                        View

                    </button>

                </td>

            </tr>

        }

        </tbody>

    </table>

</div>